<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DreamScheme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D321F941FBBE94600C22BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D321FA81FBBE94700C22BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D321FB31FBBE94700C22BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
